li{
    display: inline-block;
    margin:10px;
    cursor:pointer;
}

img{
    margin:auto;
    display: block;
}

nav{
    text-align: center;
    background-color: aqua;
}

.sticky{
    position:sticky;
    top:0;
}